* {
    box-sizing: border-box;
    margin: 0;
    touch-action: none;
}

body {
    font-family: "clear sans", "helvetica neue", Arial, sans-serif;
}

.mainContainer {
    width: 500px;

    margin: 10px auto;
    position: relative;
    touch-action: none;
}

.viewCubesContainer {

    width: 100%;
    height: 500px;

    gap: 10px 10px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #bbada0;
    position: absolute;
    border-radius: 1%;
    touch-action: none;


}

.viewCube {

    background-color: #cdc1b4;


    border-radius: 2%;
}



.realCube {
    background-color: #eee4da;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: bold;
    color: #776e65;
    position: absolute;
    border-radius: 2%;
    transform: scale(0, 0);
    z-index: 2;
    transition: top 150ms linear, left 150ms linear, transform 200ms linear, box-shadow 500ms linear;


}

.mainScoreContainer {
    min-height: 50px;
    color: white;
    background-color: #eee;
    border-radius: 2%;
    width: 100%;
    margin: 10px auto;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-size: 22px;

}

.scoreContainer {
    background-color: #bbada0;

    border-radius: 5%;
    margin-right: 5px;
    width: 70px;
    text-align: center;
}



.scoreContainer span {
    font-weight: bold;
    color: #eee;
    font-size: 12px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bold;



}


.bestScoreContainer {
    background-color: #bbada0;

    border-radius: 5%;
    width: 120px;

    text-align: center;
}



.bestScoreContainer span {
    font-weight: bold;
    color: #eee;
    font-size: 12px;
}

.bestScore {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bold;



}

.sub {
    display: flex;
}

.btn {
    background-color: #8f7a66;
    font-size: 17px;
    font-weight: bold;
    color: #f9f6f2;
    outline: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 14px;
    height: 40px;
    align-self: flex-end;
}

.btn-1 {
    background-color: #8f7a66;
    font-size: 22px;
    font-weight: bold;
    color: #f9f6f2;
    outline: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 14px;
    height: 40px;

}

.gameover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 500px;
    height: 500px;
    border-radius: 1%;
    font-size: 30px;
    z-index: -1;
    flex-direction: column;
    background-color: #b7a798a8;
    transform: scale(0.6, 0.6);
    transition: transform 1s;
}

@media (max-width: 500px) {
    .btn {
        font-size: 12px;

        padding: 0 8px;
        height: 30px;

    }

    .btn-1 {
        font-size: 12px;

        padding: 0 8px;
        height: 30px;

    }

    .scoreContainer span {

        font-size: 9px;
    }

    .bestScoreContainer span {

        font-size: 9px;
    }

    .realCube {
        font-size: 27px;
    }

    .scoreContainer {
        width: 50px;
    }

    .mainContainer {
        width: 320px;
    }

    .viewCubesContainer {
        height: 320px;
    }

    .bestScoreContainer {
        width: 80px;
    }

    .gameover {
        width: 320px;
        height: 320px;
        font-size: 20px;
    }

    .mainScoreContainer {
        font-size: 15px;
    }
}

.boxsha {
    box-shadow: rgb(250 240 60) 0px 0px 20px;
}

#scoreAnim {
    position: absolute;
    color: rgb(73, 72, 72);
    transform: translate(60%, 0);
    font-weight: bold;

    bottom: 0px;
    visibility: hidden;
    transition: bottom 400ms linear;
}